<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Palindrome Checker</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main>
        <header>
            <h1>Palindrome Checker</h1>
        </header>
        <div>
            {{{body}}}
        </div>

    </main>
    <script src="/public/js/form.js"></script>

</body>

<footer>
    <ul>
        <li>Author: Abby Kaye</li>
        <li>CWID: 10394000</li>
        <li>Class: CS-546WS</li>
    </ul>
</footer>

</html>